<!-- ******HEADER****** -->
<header class="header">
    <div class="container">
        <img class="profile-image img-responsive pull-left" src="~/Content/assets/images/profile.png" alt="Jonathan Orditz" />
        <div class="profile-content pull-left">
            <h1 class="name">Jonathan Orditz</h1>
            <h2 class="desc">Team Leader - Senior Agile Software Developer and Tester - Scrum Master</h2>
            <h3 class="desc">12 years of international experience in proprietary, safety, agile and open source environments</h3>
            <h4 class="desc"><a class="btn btn-cta-primary btn-download pull-right" href="App_Data/cv.pdf" target="_blank"><i class="fa fa-download"></i> Download as PDF</a></h4>
            <ul class="social list-inline">
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
            </ul>
        </div><!--//profile-->
    </div><!--//container-->
</header><!--//header-->

<!-- ******BODY****** -->
<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="about section">
                <div class="section-inner">
                    <h2 class="heading">About Me</h2>
                    <div class="content">
                        <p>Proven senior software engineer and team leader with 12+ years of experience developing high performance embedded software and high usable desktop applications for both Windows and Linux, as managing multicural teams and partners.</p>
                        <p>Proven customer focused Scrum Product Owner, Servant Leader Scrum Master, Senior Software Developer with extensive experience in proprietary, safety, agile and open source environments.</p>
                        <p>Worked with traditional waterfall and V-model, before initiating successfully the transition to agile methods and practices for finally working in an agile environment supported by Test-First and Clean Code, using Scrum and XP.</p>
                        <p>Acted as Scrum Master, Scrum Product Owner, Scrum Developer for different projects and eXtreme Programming (XP) Coach during the transition to agile.</p>
                        <p>Expert in test automation and continuous integration. Excellent communicator able to transform wishes of customers into product backlog items and product increments which delight them. Servant leader for the team, who  proactively prevents impediments or removes them out of the way.</p>
                        <p>Proficient with all kind of testing and test-first approaches (ATDD, BDD, TDD) in different languages (C, C++, Java, C#), automation of tests, continuous integration and improvement, quality driven development, maintenance and modernisation of large legacy software code bases, reduction of technical debt, reduction of non-quality costs, leadership and agile methodologies (xp) and frameworks (scrum).</p>
                        <p>Resourceful life long learner and bookworm, passionate about staying up to date with latest practices and technologies.</p>
                        <p>Motto: "Deliver the maximum value to the customer by taking an agile and lean approach for the work to be done, doing only what is needed first just in time, minimizing costs and maximizing return on investment."</p>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

            <section class="experience section">
                <div class="section-inner">
                    <h2 class="heading">Work Experience</h2>
                    <div class="content">
                        <div class="item">
                            <h3 class="title">Team Leader / Scrum Master - <span class="place"><a href="#">Selectron Systems AG (Knorr Bremse)</a></span> <span class="year">(2011 - Present)</span></h3>
                            <p>Lead refactoring of multiple legacy systems adding value and reducing maintenance costs.</p>
                            <p>Efficient modernization and migration of the software products from C++/MFC to .NET/C#/WPF.</p>
                            <p>Mentored, proposed and shared Agile practices (scrum, TDD and pair programming)</p>
                            <p>Established the product planning as Scrum Product Owner by evaluating the workload, velocity and estimations</p>
                            <p>Developed and tested modules in C# / .NET and ASP.NET MVC 5 according the agile principles defined, as a model for the team</p>
                            <p>Responsibility of a team of 10 software engineers and a pool of international development partners.</p>
                            <p>Reduction of the maintenance costs and regressions of the software products by 40% in 3 years through systematic application of a test first approach, automation of tests, test driven development and continuous integration.</p>
                            <p>Reduction of the reaction time to changing customer needs and requirements from 24 weeks to 8 weeks through definition and implementation of iterations of 2 weeks supported by continuous feedback of the end users</p>
                            <p>Delivery of innovative products and functionalities better in line with customer needs through introduction of behavior driven development and living documentation.</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title">Senior Software & Innovation Engineer, Project Manager - <span class="place"><a href="#">Selectron Systems AG</a></span> <span class="year">(2008 - 2011)</span></h3>
                            <p>Evaluation, Integration and Development of New Technologies (Ethernet, Linux, C#, ...) and Products (Switch, Router, HMIs / Displays, Tools for customers, ...)</p>
                            <p>Migration of current technologies and concepts to the new ones</p>
                            <p>Project Management</p>
                            <p>Improvement of Software Development Processes</p>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="title">Embedded Software Development and Test Engineer - <span class="place"><a href="#">Selectron Systems AG</a></span> <span class="year">(2005 - 2008)</span></h3>
                            <p>Object Oriented Analysis and Design applied to the development of the PLC operating system, embedded firmware, device drivers, tools and plugins (UML, Rhapsody).</p>
                            <p>Programmation in C, Java (Eclipse, static code analyzers: PC Lint, Klocwork, Cantata++, SWT, Subversion).</p>
                            <p>Definition of a toolchain and related process for Safety software development (EN50128 SIL2 and IEC61508 SIL3).</p>
                            <p>Test Manager for an anti-skid/slip module qualified on SIL3: definition of a test plan and strategy, definition of a test specification, implementation of unit, integration and systemtests and documentation for the certification authority.</p>
                            <p>Requirements (specification of new features, analysis of customer needs and defects) and Project manager (release planning, presentations of the new features and products) for the software tool to programm the PLCs.</p>
                            <p>Coordination of an international (english, german, french) pool of vendors/suppliers of software development tools.</p>
                        </div><!--//item-->

                        <div class="item">
                            <h3 class="title">Verification and Validation Engineer - <span class="place"><a href="#">Selectron Systems AG (Schneider Electric)</a></span> <span class="year">(2004 - 2005)</span></h3>
                            <p>Validation of the complete product portfolio of PLCs (programmable logic controller) dedicated to the train business.</p>
                            <p>Specification, Planning and Implementation of Acceptance Tests.</p>
                            <p>Development of Test Systems for testing Hardware in harsh environments (shock, vibration and type tests) according to EN50155 standard and for the production line (incoming components inspection)</p>
                            <p>Development in C and IEC61131-3 languages (grafcet, ST, FBD).</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title">GPRS / UMTS Core Network Developer - <span class="place"><a href="#">Alcatel CIT Paris</a></span> <span class="year">(2003 - 2004)</span></h3>
                            <p>Definition and implementation of a monitoring and alarm system for the GPRS / UMTS Core Network in C and C++.</p>
                            <h3 class="title">P2P Application Developer - <span class="place"><a href="#">CEI Dortmund</a></span> <span class="year">(2003 - 2004)</span></h3>
                            <p>Proof of concept in Java and JXTA for a P2P application sharing idle resources in a LAN for computing and displaying complex fractals.</p>
                        </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->
            <section class="list books aside section">
                <div class="section-inner">
                    <h2 class="heading">Favourite technical books</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-book"></i> <a><strong>Agile Principles, Patterns, and Practices in C#</strong> - Robert C. Martin</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>Clean Code</strong> - Robert C. Martin</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>The Clean Coder</strong> - Robert C. Martin</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>Extreme Programming Explained: Embrace Change, Second Edition</strong> - Kent Beck</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>Working Effectively with Legacy Code</strong> - Michael Feathers</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>Refactoring to Agility</strong> - Carol A. Wellington</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>Agile Estimating and Planning</strong> - Mike Cohn</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>User Stories Applied: For Agile Software Development</strong> - Mike Cohn</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>Agile Product Management with Scrum: Creating Products that Customers Love</strong> - Roman Pichler</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>The Five Dysfunctions of a Team: A Leadership Fable</strong> - Patrick M. Lencioni</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>BDD in Action: Behavior-Driven Development for the whole software lifecycle</strong> - John Ferguson Smart</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>The Art of Unit Testing, Second Edition: with examples in C#</strong> - Roy Osherove</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>Mastering Ninject for Dependency Injection</strong> - Daniel Baharestani</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>PROFESSIONAL Test-Driven Development with C#</strong> - James Bender; Jeff McWherter</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>Sams Teach Yourself WPF in 24 Hours</strong> - Rob Eisenberg</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>WPF 4.5 Unleashed</strong> - Adam Nathan</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>Pro ASP.NET MVC 5, Fifth Edition</strong> - Adam Freeman</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>Microsoft ADO.NET Entity Framework Step by Step</strong> - John Paul Mueller</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>Pro AngularJS</strong> - Adam Freeman</a></li>
                            <li><i class="fa fa-book"></i> <a><strong>Pro jQuery 2.0, Second Edition</strong> - Adam Freeman</a></li>
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">

            <aside class="education aside section">
                <div class="section-inner">
                    <h2 class="heading">Education</h2>
                    <div class="content">
                        <div class="item">
                            <h3 class="title"><i class="fa fa-graduation-cap"></i> Master's Degree - Electronics and IT</h3>
                            <h4 class="university">ISEN Lille France / TU Dortmund Germany<span class="year">&nbsp;&nbsp;(1998 - 2003)</span></h4>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><i class="fa fa-graduation-cap"></i> Baccalauréat S - Mention Bien</h3>
                            <h4 class="university">Lycée Jean de Pange<span class="year">&nbsp;&nbsp;(1998)</span></h4>
                        </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="languages aside section">
                <div class="section-inner">
                    <h2 class="heading">Languages</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li class="item">
                                <span class="title"><strong>French:</strong></span>
                                <span class="level">Native Speaker <br class="visible-sm visible-xs" /><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                            </li><!--//item-->
                            <li class="item">
                                <span class="title"><strong>German:</strong></span>
                                <span class="level">Full Professional Proficiency <br class="visible-sm visible-xs" /><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                            </li><!--//item-->
                            <li class="item">
                                <span class="title"><strong>English:</strong></span>
                                <span class="level">Full Professional Proficiency <br class="visible-xs" /><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                            </li><!--//item-->
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="list certificates aside section">
                <div class="section-inner">
                    <h2 class="heading">Certifications</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-certificate"></i> Professional Scrum Master (Scrum.org)</li>
                            <li><i class="fa fa-certificate"></i> Professional Scrum Developer (Scrum.org)</li>
                            <li><i class="fa fa-certificate"></i> Professional Scrum Product Owner (Scrum.org)</li>
                            <li><i class="fa fa-certificate"></i> Tester - Foundation Level (ISTQB)</li>
                            <li><i class="fa fa-certificate"></i> PMI - Project Manager (Cefco)</li>
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->
            <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Skills</h2>
                    <div class="content">

                        <div class="skillset">

                            <div class="item">
                                <h3 class="level-title">Test-First (TDD, ATDD) &amp; Clean-Code<span class="level-label">Expert</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="99%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">Unit-Testing with NUnit, Moq, Ninject<span class="level-label">Expert</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="99%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">Scrum Master &amp; XP Coach<span class="level-label">Expert</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="99%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">Scrum Product Owner<span class="level-label">Pro</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="95%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">C# &amp; .NET 4.5<span class="level-label">Pro</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="95%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">WPF &amp; MVVM with Caliburn.Micro<span class="level-label">Pro</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="95%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">ASP.NET MVC 5 &amp; Bootstrap<span class="level-label">Pro</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="95%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">HTML5 &amp; CSS3<span class="level-label">Pro</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="90%">
                                    </div>
                                </div><!--//level-bar-->

                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">Javascript &amp; jQuery<span class="level-label">Advanced</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="80%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">BDD with SpecFlow &amp; Selenium<span class="level-label">Advanced</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="80%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">Linq to Object, XML &amp; Entities<span class="level-label">Advanced</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="80%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">MSSQL  &amp; Entity Framework<span class="level-label">Intermediate</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="70%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">REST Webservices &amp; RestSharp<span class="level-label">Intermediate</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="50%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">International expertise<span class="level-label">Expert</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="99%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">Full Software Development Life Cycle<span class="level-label">Expert</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="99%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">Verification &amp; Validation<span class="level-label">Expert</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="99%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">Refactoring<span class="level-label">Expert</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="99%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">Version Control with Subversion &amp; Git<span class="level-label">Pro</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="90%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">Continuous Integration &amp; TeamCity<span class="level-label">Pro</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="90%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">Embedded &amp; Safety Systems<span class="level-label">Pro</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="90%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">Microsoft Visual Studio 6.0 to 2015<span class="level-label">Pro</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="90%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">Windows, Linux &amp; Embedded Linux<span class="level-label">Pro</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="90%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="level-title">C, C++ &amp; MFC<span class="level-label">Pro</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="90%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">Java<span class="level-label">Advanced</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="70%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                        </div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->

<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="container text-center">
        <p><small class="copyright">Last Modified: @File.GetLastWriteTime(this.Server.MapPath(this.VirtualPath)) </small></p>
    </div><!--//container-->
</footer><!--//footer-->